
/* GOOGLE FONTS   */
/* 
ОПТИМІЗОВАНІ ШРИФТИ
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap'); */


/* @import url(https://fonts.googleapis.com/css?family=Manrope:300,regular,500,700); */

/* @import url(https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); */
/* ОПТИМІЗОВАНІ ШРИФТИ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');


/* @import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);  */
/* ОПТИМІЗОВАНІ ШРИФТИ */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');

/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic); */
/* ОПТИМІЗОВАНІ ШРИФТИ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


/* ЛОКАЛЬНЕ ПІДКЛЮЧЕННЯ ШРИФТІВ */
@import url("fonts.css");


@import url("reset.css");

/* BODY */ 

body {
    /* font-family: "Manrope"; */
    /* font-family: "Gilroy"; */
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    color: #999999;
}

.first-text {
    /* font-family: "Manrope"; */
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-style: oblique;
    font-weight: 300;
}

.second-text {
    font-family: "Manrope"; font-style:inherit; font-size: 32px; font-weight: 400;
    text-align: left;
}

.third-text {
    font-family: "Manrope"; font-style:normal; font-size: 24px; font-weight: 500;
    text-align: center;
}

.fourth-text {
    font-family: "Manrope"; font-style: oblique; font-size: 32px; font-weight: 700;
    text-align: right;
}

.fifth-text {
    font-family: "Manrope"; font-style: oblique; font-size: 20px;
    text-align: justify;
}

.title {
    color: rgba(194, 40, 40, 0.9);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

p .link-1 {
    color: #1511e2;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}

p .link-2 {
    color: #1511e2;
    text-decoration: overline;
    text-decoration: none;
    text-decoration-style: dashed;
}

p .link-3 {
    color: #1511e2;
    text-decoration:underline;
    text-decoration-color: aqua;
}

p .link-4 {
    color: #11e26f;
    text-decoration:line-through;
    text-decoration-color: rgb(255, 30, 0);
}

.first-text p {
    text-shadow: 5px 5px 5px #ada8a8;
}

.title {
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;
    /* text-transform: none; */ /* (за замовчунням) не змінює (або відмініє) значення */
}

.line_height p {
	line-height: 1.5;  /* ! успадковується (текстом, лише якщо задані частини, а не відсотки) */
}
/* Перевести пікселі в частини: значення line-height поділити на значення font-size */

.title {
    letter-spacing: 10px; 
    /*! успадковується (текстом) */
    word-spacing: 70px; 
    /*! успадковується (текстом) */
}

.white_space_nowrap_test p {
	/* white-space: nowrap; */
}


/* ============================================= Із МАКЕТУ ================================================= */

.border {
    color:#f5550a;
    /* font-family: "Work Sans"; */
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%;
}

.figma-maket_1 h2 {
    width: 536px;
    color:#132238;
    font-family: "Work Sans";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
}

.figma-maket_1 p {
    width: 536px;
    color:#556070;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
}

.figma-maket_2 h2 {
    width: 388px;
    color:#1E1B39;
    font-family: "DM Sans";
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
}

.figma-maket_2 p {
    width: 651px;
    color:#474464;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.figma-maket_3 h2 {
    width: 539px;
    color:#091133;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%;
    letter-spacing: 1px;
}

.figma-maket_3 p {
    width: 539px;
    color:#505F98;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
}