@import url(reset.css);


/* ================================= ТИП Селектору №1 (за допомогою Тегів) */

* {
    color:brown;
}

div {
    color: green;
}

h1 {
    color:blue; 
}

/* ================================= ТИП Селектору №2 (за допомогою class) Селектор класу (!!!Основний наш селектор) */

.ukraine-text {
    color: violet;
}

.spn {
    color:black
}

/* ================================= ТИП Селектору №3 ID */

#ukraine {
    color:brown;
}


/* ================================= ТИП Селектору №4 Селектор атрибутів. Шукає сполучення літер (tle) в атрибутах class */

/* Зверненння до Класу <p class="oblasti-1"> та <p class="oblasti-2"> */
/* [class*="oblasti-1"],
[class*="oblasti-2"] {
    color:blueviolet;
} */

/* Зверненння до Класу <p class="test"> або до Атрибуту (<p title="test">) */
[class*="test"] {
    display: none;
}

[title*="test"] {
    display: none;
}


/* ================================= ТИП Селектору №5 Комбінація селекторів.  */

/* 1. Наприклад: (селектор Тегу + Селектор Класу) */ 
div.ukraine-text {
    color: black;
}

div.arc * {
    color:coral;
}

.list-obl a.link {
    color:blue;
}

/* 2. Приклад: Звертаємось відразу до кількох !УВАГА(це не вкладеність) а - ДО КІЛЬКОХ різних класів (та/або інших селекторів):  */
.oblasti-1, .oblasti-2 {
    color: yellow;
}

.footer * {
    color:brown;
}

.footer p {
    color:blueviolet;
}


/* ================================= СПЕЦСИМВОЛИ */

/* Усі теги Р першого рівня в середині об'єктів з класом ... */
.subscribe-oblasti > p {
    color:blue;
}

/* Усі теги Р які знаходяться далі по коду після об'єктів з класом ... та мають той самий рівень вкладеності */
.subscribe-oblasti ~ p {
    color:chocolate;
}

/* Усі теги Р який знаходиться далі по коду після об'єктів з класом ... та мають той самий рівень вкладеності */
.subscribe-oblasti + p {
    /* color:cadetblue; */
    display: none;
}
